<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <title>Admin</title>
  </head>
  <body>
    <div class="bg-gray-900 min-h-screen flex items-center justify-center">
      <div
        class="bg-gray-800 flex-1 flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-10 max-w-6xl sm:p-6 sm:my-2 sm:mx-4 sm:rounded-2xl"
      >
        <!-- Navigation -->
        <div
          class="bg-gray-900 px-2 lg:px-4 py-2 lg:py-10 sm:rounded-xl flex lg:flex-col justify-between"
        >
          <nav
            class="flex items-center flex-row space-x-2 lg:space-x-0 lg:flex-col lg:space-y-2"
          >
            <a
              class="text-white/50 p-4 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
              href="#"
            >
              <i class="fas fa-home h-5 w-5 sm:h-6 sm:w-6"></i>
            </a>
            <!-- Active: bg-gray-800 text-white, Not active: text-white/50 -->
            <a
              class="bg-gray-800 text-white p-4 inline-flex justify-center rounded-md"
              href="#"
            >
              <i class="fas fa-users h-5 w-5 sm:h-6 sm:w-6"></i>
            </a>
            <a
              class="text-white/50 p-4 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
              href="#"
            >
              <i class="fas fa-heart h-5 w-5 sm:h-6 sm:w-6"></i>
            </a>
          </nav>
          <div
            class="flex items-center flex-row space-x-2 lg:space-x-0 lg:flex-col lg:space-y-2"
          >
            <a
              class="text-white/50 p-4 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
              href="#"
            >
              <i class="fas fa-cog h-5 w-5 sm:h-6 sm:w-6"></i>
            </a>
            <a
              class="text-white/50 p-4 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
              href="#"
            >
              <i class="fas fa-sign-out-alt h-5 w-5 sm:h-6 sm:w-6"></i>
            </a>
          </div>
        </div>
        <!-- Content -->
        <div class="flex-1 px-2 sm:px-0">
          <div class="flex justify-between items-center">
            <h3 class="text-3xl font-extralight text-white/50">Wards</h3>
            <div class="inline-flex items-center space-x-2">
              <button
                class="bg-gray-900 text-white/50 p-2 rounded-md hover:text-white smooth-hover"
                onclick="setGridLayout()"
              >
                <i class="fas fa-th-large h-6 w-6"></i>
              </button>
              <button
                class="bg-gray-900 text-white/50 p-2 rounded-md hover:text-white smooth-hover"
                onclick="setRowLayout()"
              >
                <i class="fas fa-bars h-6 w-6"></i>
              </button>
            </div>
          </div>
          <div
            class="mb-10 sm:mb-0 mt-10 grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
            id="layout"
          >
            <div
              class="group bg-gray-900/30 py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/40 hover:smooth-hover"
            >
              <a
                class="bg-gray-900/70 text-white/50 group-hover:text-white group-hover:smooth-hover flex w-20 h-20 rounded-full items-center justify-center text-4xl text-center"
                href="#"
              >
                <i class="fas fa-plus h-10 w-10"></i>
              </a>
              <a
                class="text-white/50 group-hover:text-white group-hover:smooth-hover text-center"
                href="{{ url_for('admin.create_ward') }}"
                >Create ward</a
              >
              >
            </div>
          </div>
        </div>
      </div>
      <script>
        let layout = document.getElementById("layout");

        function setGridLayout() {
          layout.className =
            "mb-10 sm:mb-0 mt-10 grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4";
        }

        function setRowLayout() {
          layout.className = "mb-10 sm:mb-0 mt-10 flex flex-col space-y-4";
        }
      </script>
    </div>
  </body>
</html>
