
{% extends 'base.html' %} {% block content %}
<!-- Flash Message -->
{% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  <span class="closebtn" onclick="this.parentElement.style.display='none';"
    >&times;</span
  >
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<h1>Update Ward</h1>
<form method="POST">
  <label for="name">Name</label>
  <input
    type="text"
    name="name"
    id="name"
    value="{{ ward.name }}"
    required
  />
  <button type="submit">Update Ward</button>
</form>

{% endblock %}
