# Python 3.11.9
flask=3.0.3
werkzeug=3.0.3
flask-login=0.6.3
Jinja2=3.1.4
itsdangerous=2.2.0
click=8.1.7
blinker=1.8.2
MarkupSafe=2.1.5
flask-mail
flask-migrate
flask-moment
flask-openid
flask-pagedown
flask-sqlalchemy
# flask-bcrypt
requests=2.32.3
charset-normalizer=3.3.2
idna=3.7
urllib3=2.2.2
plotly=5.22.0
packaging=24.1
tenacity=8.4.2
flask_bootstrap
flask_wtf
flask_script
flask_migrate
# xlsxwriter
# panadas
# matplotlib
# io
# datetime
# time
# os
