{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-10">
  <div class='mt-4'>
    <div class='bg-gray-100 p-5 rounded-lg'>
      <div class='mb-4'>
        <h1 class='text-2xl font-semibold'>Search for a Patient</h1>
      </div>
      <div class="flex items-center justify-center">
        <form action="{{ url_for('views.search_patient') }}" method="POST">
          <div class="flex items-center justify-center flex-col gap-4">
            <input type="text" name="mrn" class="p-2 border border-gray-300 rounded-lg" placeholder="Enter MRN.." required>
            <button class="p-2 px-3 bg-blue-500 text-white rounded-lg">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
