{% extends 'admin/base.html' %}

{% block content %}
<div class="container px-6 py-8 mx-auto">
    <div class="mt-4">
        <div class="flex flex-wrap -mx-6">
            <div class="w-full px-6 sm:w-1/2 xl:w-1/3">
                <div class="flex items-center px-5 py-6 bg-white rounded-md shadow-sm">
                    <div class="p-3 bg-indigo-600 bg-opacity-75 rounded-full">
                      <i class="fas fa-tablets text-white"></i>
                    </div>
                    <div class="mx-5">
                        <h4 class="text-2xl font-semibold text-gray-700">{{ medicines|length }}</h4>
                        <div class="text-gray-500">Medicines</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-8">
      <div class="flex justify-end gap-4">
        <a href="{{ url_for('admin.create_medicine') }}" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-indigo-600 border border-transparent rounded-md active:bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:shadow-outline-indigo">
          Add Medicine
        </a>

        <a href="{{ url_for('admin.tables') }}" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-indigo-600 border border-transparent rounded-md active:bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:shadow-outline-indigo">
          Download it
        </a>
      </div>
    </div>

    <div class="mt-8">
        <div class="flex flex-col mt-8">
            <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">Name</th>
                                <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">Date</th>
                                <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">Patients</th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                            </tr>
                        </thead>

                        <tbody class="bg-white">
                          {% for medicine in medicines %}
                            <tr>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                          <div class="text-sm font-medium leading-5 text-gray-900">{{ medicine.name }}</div>
                                        </div>
                                    </div>
                                </td>

                                <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                                  {{ medicine.date_created }}
                                </td>

                                <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                                  <a href="{{ url_for('admin.medicine_patients', id=medicine.id) }}" class="text-indigo-600 hover:text-indigo-900">View Patients</a>
                                </td>
                                
                                <td class="px-6 py-4 text-sm font-medium leading-5 text-right whitespace-no-wrap border-b border-gray-200">
                                    <a href="{{ url_for('admin.update_medicine', id=medicine.id) }}" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                                    <a href="{{ url_for('admin.delete_medicine', id=medicine.id) }}" class="ml-2 text-indigo-600 hover:text-indigo-900">Delete</a>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include "admin/plots.html" %}
</div>


{% endblock %}

