<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>



    <!-- Flash Messages -->
  <div class="container mx-auto absolute top-10 right-0 left-0 z-50">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="relative flex items-center p-4 mb-4 text-sm font-medium rounded-lg
                      {% if 'error' in message.tags %}
                        bg-red-50 text-red-800 dark:bg-red-500 dark:text-red-100
                      {% elif 'success' in message.tags %}
                        bg-green-50 text-green-800 dark:bg-green-500 dark:text-green-100
                      {% else %}
                        bg-blue-50 text-blue-800 dark:bg-blue-500 dark:text-blue-100
                      {% endif %}
                      " role="alert">
            <span class="sr-only">Info</span>
            <p>{{ message }}</p>
            <button type="button" class="absolute top-0 right-0 -mr-2 -mt-2 bg-white rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-400" aria-label="Close" onclick="this.parentElement.style.display = 'none';">
              <span class="sr-only">Close</span>
              &times;
            </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

<div class="flex h-screen bg-gray-200">
  <div class="fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden" id="backdrop"></div>

  <div class="fixed inset-y-0 left-0 z-30 w-64 overflow-y-auto transition duration-300 transform bg-gray-900 lg:translate-x-0 lg:static lg:inset-0"
       id="sidebar">
    <div class="flex items-center justify-center mt-8">
      <div class="flex items-center">
        <i class="fas fa-tachometer-alt text-3xl text-white"></i>
        <span class="mx-2 text-2xl font-semibold text-white">Dashboard</span>
      </div>
    </div>

    <nav class="mt-10">
      <a href="{{ url_for('admin.panel') }}" class="flex items-center px-6 py-2 mt-4 text-gray-100 bg-gray-700 bg-opacity-25">
        <i class="fas fa-tachometer-alt"></i>
        <span class="mx-3">Dashboard</span>
      </a>

      <a href="{{ url_for('admin.tables') }}" class="flex items-center px-6 py-2 mt-4 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100">
        <i class="fas fa-table"></i>
        <span class="mx-3">Tables</span>
      </a>

      <a href="{{ url_for('admin.users') }}" class="flex items-center px-6 py-2 mt-4 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100">
        <i class="fas fa-users"></i>
        <span class="mx-3">Users</span>
      </a>

      <a href="{{ url_for('admin.medicines') }}" class="flex items-center px-6 py-2 mt-4 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100">
        <i class="fas fa-users"></i>
          <span class="mx-3">Medicines</span>
      </a>
    </nav>
  </div>

  <div class="flex flex-col flex-1 overflow-hidden">
    <header class="flex items-center justify-between px-6 py-4 bg-white border-b-4 border-indigo-600">
      <div class="flex items-center">
        <button id="sidebarToggle" class="text-gray-500 focus:outline-none lg:hidden">
          <i class="fas fa-bars"></i>
        </button>

      </div>
      <div class="flex items-center">
          <a href="{{ url_for('auth.logout') }}" class="p-3 px-5 text-black bg-slate-900">Logout</a>
      </div>
    </header>
      <main class='flex-1 overflow-x-hidden overflow-y-auto bg-gray-200'>
        {% block content %}
        {% endblock %}
      </main>
  </div>
</div>



<script src="{{ url_for('static', filename='js/admin/main.js') }}"></script>

</body>
</html>
