<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>{{ title }}</title>
  </head>
  <body>

    <nav>
      <ul>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('main.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
  </body>
</html>
