{% extends 'base.html' %} {% block content %}
<!-- Flash Massage -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Admin</h1>




<div class="section-admin">
  
<a style="background-color: var(--primary-color); border-radius: 0.5rem; padding: .2rem .6rem; " type="button" href="{{ url_for('main.create_account') }}">Create Account</a>
  <h2>Accounts</h2>
<ul>
  <li>Username</li>
  <li>Password</li>
  <li>Update</li>
  <li>Delete</li>
</ul>

  <hr>

{% for user in users %}
<ul><li>{{ user.username }}</li>
  <li>{{ user.password }}</li> 
  {% if user.is_admin %}
  <li>Can't delete Admin</li>
  {% else %}
  <a href="{{ url_for('main.update_account', id=user.id) }}">Update</a>
  <a href="{{ url_for('main.delete_account', id=user.id) }}">Delete</a>
  {% endif %}
</ul>

{% endfor %}
</div>

<div class="section-admin">
  <a style="background-color: var(--primary-color); border-radius: 0.5rem; padding: .2rem .6rem; " type="button" href="{{ url_for('main.add_medicine') }}">add Medicine</a>
  <h2>Medicine</h2>
  <ul>
    <li>Name</li>
    <li>Id</li>
    <li>Update</li>
    <li>Delete</li>
  </ul>
  <hr>
  {% for medicine in medicines %}
  <ul>
    <li>{{ medicine.name }}</li>
    <li>{{ medicine.id }}</li>
    <a href="{{ url_for('main.update_medicine', id=medicine.id) }}">Update</a>
    <a href="{{ url_for('main.delete_medicine', id=medicine.id) }}">Delete</a>
  </ul>
  {% endfor %}
</div>



<div class="section-admin">
  <a style="background-color: var(--primary-color); border-radius: 0.5rem; padding: .2rem .6rem; " type="button" href="{{ url_for('main.add_ward') }}">Add wards</a>
  <h2>Wards</h2>
  <ul>
    <li>Name</li>
    <li>Id</li>
    <li>Update</li>
    <li>Delete</li>
  </ul>
  <hr>
  {% for ward in wards %}
  <ul>
    <li>{{ ward.name }}</li>
    <li>{{ ward.id }}</li>
    <a href="{{ url_for('main.update_ward', id=ward.id) }}">Update</a>
    <a href="{{ url_for('main.delete_ward', id=ward.id) }}">Delete</a>
  </ul>
  {% endfor %}
</div>



<div class="section-admin"> 
  <a style="background-color: var(--primary-color); border-radius: 0.5rem; padding: .2rem .6rem; " type="button" href="{{ url_for('main.add_patient') }}">Add Patient</a>
  <h2>Patients</h2>
  <ul>
    <li>First Name</li>
    <li>Last Name</li>
    <li>Father Name</li>
    <li>Age</li>
    <li>Phone Number</li>
    <li>MRN Number</li>
    <li>CNIC</li>
    <li>Ward</li>
    <li>Date</li>
    <li>Update</li>
    <li>Delete</li>
  </ul>
  <hr>
  {% for patient in patients %}
  <ul>
    <li>{{ patient.first_name }}</li>
    <li>{{ patient.last_name }}</li>
    <li>{{ patient.father_name }}</li>
    <li>{{ patient.age }}</li>
    <li>{{ patient.phone_number }}</li>
    <li>{{ patient.mrn_number }}</li>
    <li>{{ patient.cnic }}</li>
    {% for ward in wards %}
    {% if ward.id == patient.ward_id %}
    <li>{{ ward.name }}</li>
    {% endif %}
    {% endfor %}
    <li>{{ patient.date }}</li>
    <a href="{{ url_for('main.update_patient', id=patient.id) }}">Update</a>
    <a href="{{ url_for('main.delete_patient', id=patient.id) }}">Delete</a>
  </ul>
  {% endfor %}
</div>

<div class="section-admin">
  <h2>Search Patient</h2>
  <form action="get_patient" method="POST">
    <label for="mrn_number">MRN Number</label>
    <input type="text" name="mrn_number" required placeholder="Enter MRN Number..." id="mrn_number">
    <button type="submit">Search</button>
  </form>
</div>

<!-- Search persons in special ward -->
<div class="section-admin">
  <h2>Search Patients in Ward</h2>
  <form action="get_ward_patients" method="POST">
    <label for="ward_id">Ward</label>
    <select name="ward_id" id="ward_id">
      {% for ward in wards %}
      <option value="{{ ward.id }}">{{ ward.name }}</option>
      {% endfor %}
    </select>
    <button type="submit">Search</button>
  </form>
</div>

{% endblock %}
