{% extends 'base.html' %} {% block content %}

<!-- Flash Mesaagwa -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Login</h1>


<form method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" required />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <button type="submit">Login</button>
</form>

{% endblock %}
