{% extends 'base.html' %} 

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<ul>
  <li>First Name</li>
  <li>Last Name</li>
  <li>Father Name</li>
  <li>Age</li>
  <li>Phone Number</li>
  <li>MRN Number</li>
  <li>CNIC</li>
  <li>Ward</li>
  <li>Date</li>
</ul>
<hr>

<ul>
  <li>{{ patient.first_name }}</li>
  <li>{{ patient.last_name }}</li>
  <li>{{ patient.father_name }}</li>
  <li>{{ patient.age }}</li>
  <li>{{ patient.phone_number }}</li>
  <li>{{ patient.mrn_number }}</li>
  <li>{{ patient.cnic }}</li>
  <li>{{ ward.name }}</li>
  <li>{{ patient.date }}</li>
</ul>

<form action="{{ url_for('main.add_medicine_to_patient') }}" method="POST">
  <input type="hidden" name="patient_id" value="{{ patient.id }}">
  <label for="medicine">Medicine</label>
  <select name="medicine" id="medicine">
    {% for medicine in medicines %}
      <option value="{{ medicine.id }}">{{ medicine.name }}</option>
    {% endfor %}
  </select>
  <label for="quantity">Quantity</label>
  <input type="number" name="quantity" id="quantity" required>
  <button type="submit">Add Medicine</button>
</form>
<hr>

<h2>Medicines</h2>
<table style="color: white;">
  <tr>
    <th>Medicine</th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>
  {% for patient_medicine in patient.patient_medicine %}
    <tr>
      <td>{{ patient_medicine.medicine.name }}</td>
      <td>{{ patient_medicine.quantity }}</td>
      <td>
        <form action="{{ url_for('main.delete_medicine_from_patient', patient_id=patient.id, medicine_id=patient_medicine.medicine.id) }}" method="POST">
          <button type="submit">Remove</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
<hr>

{% endblock %}

