{% extends 'base.html' %} {% block content %}
<!-- Flash Message -->
{% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  <span class="closebtn" onclick="this.parentElement.style.display='none';"
    >&times;</span
  >
  {% endfor %}

</ul>
{% endif %} {% endwith %}
<h1>Update Patient</h1>
<form method="POST">
  <label for='first_name'>First Name</label>
  <input
    type='text'
    name='first_name'
    id='first_name'
    value='{{ patient.first_name }}'
    required
  />
  <label for='last_name'>Last Name</label>
  <input
    type='text'
    name='last_name'
    id='last_name'
    value='{{ patient.last_name }}'
    required
  />
  <label for='age'>Age</label>
  <input
    type='number'
    name='age'
    id='age'
    value='{{ patient.age }}'
    required
  />
  <label for='father_name'>Father Name</label>
  <input
    type='text'
    name='father_name'
    id='father_name'
    value='{{ patient.father_name }}'
    required
  />
  <label for='phone_number'>Phone Number</label>
  <input
    type='text'
    name='phone_number'
    id='phone_number'
    value='{{ patient.phone_number }}'
    required
  />
  <label for='mrn_number'>MRN Number</label>
  <input
    type='text'
    name='mrn_number'
    id='mrn_number'
    value='{{ patient.mrn_number }}'
    required
  />
  <label for='cnic'>CNIC</label>
  <input
    type='text'
    name='cnic'
    id='cnic'
    value='{{ patient.cnic }}'
    required
  />
  <label for='date'>Date</label>
  <input
    type='date'
    name='date'
    id='date'
    value='{{ patient.date }}'
    required
  />
  <label for='ward'>Ward</label>
  <select name='ward' id='ward'>
    {% for ward in wards %}
    <option value='{{ ward.id }}'>{{ ward.name }}</option>
    {% endfor %}
  </select>
  <button type='submit'>Update Patient</button>
</form>

{% endblock %}
