<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <title>Admin</title>
  </head>
  <body>
    <div class="bg-gray-900 min-h-screen flex items-center justify-center">
      <div
        class="bg-gray-800 flex-1 flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-10 max-w-6xl sm:p-6 sm:my-2 sm:mx-4 sm:rounded-2xl"
      >
        <!-- Navigation -->
        <div
          class="bg-gray-900 px-2 lg:px-4 py-2 lg:py-10 sm:rounded-xl flex lg:flex-col justify-between"
        >
          <nav
            class="flex items-center flex-row space-x-2 lg:space-x-0 lg:flex-col lg:space-y-2"
          >
            <a
              class="text-white/50 p-3 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
              href="#"
            >
              <i class="fas fa-home h-5 w-5 sm:h-6 sm:w-6"></i>
            </a>
            <!-- Active: bg-gray-800 text-white, Not active: text-white/50 -->
            <a
              class="bg-gray-800 text-white p-3 inline-flex justify-center rounded-md"
              href="{{url_for('admin.patients')}}"
            >
              <i class="fas fa-users h-5 w-5 sm:h-6 sm:w-6"></i>
            </a>
            <a
              class="text-white/50 p-3 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
              href="#"
            >
              <i class="fas fa-user-injured h-5 w-5 sm:h-6 sm:w-6"></i>
            </a>
          </nav>
          <div
            class="flex items-center flex-row space-x-1 lg:space-x-0 lg:flex-col lg:space-y-2"
          >
            <a
              class="text-white/50 p-3 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
              href="#"
            >
              <i class="fas fa-warehouse h-5 w-5 sm:h-6 sm:w-6"></i>
            </a>
            <a
              class="text-white/50 p-3 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
              href="#"
            >
              <i class="fas fa-medkit h-5 w-5 sm:h-6 sm:w-6"></i>
            </a>
            <a
              class="text-white/50 p-3 inline-flex justify-center rounded-md hover:bg-gray-800 hover:text-white smooth-hover"
              href="{{ url_for('auth.logout')  }}"
            >
              <i class="fas fa-sign-out-alt h-5 w-5 sm:h-6 sm:w-6"></i>
            </a>
          </div>
        </div>
        <!-- Content -->
        <div class="flex-1 px-2 sm:px-0">
          <div class="flex justify-between items-center">
            <h3 class="text-3xl font-extralight text-white/50">Patients</h3>
            <div class="inline-flex items-center space-x-2">
              <button
                class="bg-gray-900 text-white/50 p-2 rounded-md hover:text-white smooth-hover"
                onclick="setGridLayout()"
              >
                <i class="fas fa-th-large h-6 w-6"></i>
              </button>
              <button
                class="bg-gray-900 text-white/50 p-2 rounded-md hover:text-white smooth-hover"
                onclick="setRowLayout()"
              >
                <i class="fas fa-bars h-6 w-6"></i>
              </button>
            </div>
          </div>
          <div
            class="mb-10 sm:mb-0 mt-10 grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
            id="layout"
          >
            <div
              class="group bg-gray-900/30 py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/40 hover:smooth-hover"
              onclick="removeHidden()"
            >
              <a
                class="bg-gray-900/70 text-white/50 group-hover:text-white group-hover:smooth-hover flex w-20 h-20 rounded-full items-center justify-center text-4xl text-center"
                href="#"
              >
                <i class="fas fa-plus h-10 w-10"></i>
              </a>
              <a
                class="text-white/50 group-hover:text-white group-hover:smooth-hover text-center"
                href="#"
                >Add Patient</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="min-h-screen w-full bg-gray-800 flex items-center justify-center absolute top-0 left-0 z-10 p-3 hidden"
      id="main"
    >
      <div class="fixed top-4 right-4 justify-center items-center flex" onclick="addHidden()">
        <i class="fa fa-times text-white p-2 hover:p-3 rounded-full"></i>
      </div>
      <div
        class="p-8 md:p-4 sm:p-2 flex justify-center items-center bg-gray-900 rounded-md"
      >
        <form
          method="POST"
          class="flex flex-col justify-center gap-4 md:gap-2 sm:gap-1"
        >
          <input
            placeholder="Patient MR Number..."
            class="border-none focus:outline-none rounded-md text-gray-600 focus:text-gray-300 bg-gray-800 px-4 py-2"
            name="mr_number"
            type="number"
            id="mr_number"
          />

          <input
            placeholder="Patient Name..."
            class="border-none focus:outline-none rounded-md text-gray-600 focus:text-gray-300 bg-gray-800 px-4 py-2"
            name="name"
            id="name"
            type="text"
          />
          <input
            placeholder="Patient Father Name..."
            class="border-none focus:outline-none rounded-md text-gray-600 focus:text-gray-300 bg-gray-800 px-4 py-2"
            name="father_name"
            id="father_name"
            type="text"
          />
          <input
            placeholder="Patient Gender..."
            class="border-none focus:outline-none rounded-md text-gray-600 focus:text-gray-300 bg-gray-800 px-4 py-2"
            name="gender"
            id="gender"
            type="text"
          />
          <input
            placeholder="Patient Age..."
            class="border-none focus:outline-none rounded-md text-gray-600 focus:text-gray-300 bg-gray-800 px-4 py-2"
            name="age"
            id="age"
            type="number"
          />
          <input
            placeholder="Patient Ward Id..."
            class="border-none focus:outline-none rounded-md text-gray-600 focus:text-gray-300 bg-gray-800 px-4 py-2"
            name="ward_id"
            id="ward_id"
            type="number"
          />
          <input
            placeholder="Patient Phone Number"
            class="border-none focus:outline-none rounded-md text-gray-600 focus:text-gray-300 bg-gray-800 px-4 py-2"
            name="phone_number"
            id="phone_number"
          />
          <input
            placeholder="Patient Creation Date.."
            class="border-none focus:outline-none rounded-md text-gray-600 focus:text-gray-300 bg-gray-800 px-4 py-2"
            name="created_at"
            id="created_at"
            type="date"
            value="2024-08-14"
          />
          <button
            class="px-4 py-1 border-none text-gray-400 focus:text-gray-100 hover:text-gray-200 bg-gray-700 rounded-md"
            action="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
    <script>

        let layout = document.getElementById("layout");

        function setGridLayout() {
          layout.className =
            "mb-10 sm:mb-0 mt-10 grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4";
        }

        function setRowLayout() {
          layout.className = "mb-10 sm:mb-0 mt-10 flex flex-col space-y-4";
        }
      let main = document.querySelector('#main')
      function removeHidden(){
        main.classList.remove('hidden');
      }
        function addHidden(){
          main.classList.add('hidden')
        }
    </script>
    
  </body>
</html>
